.vazirmatn {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  padding-top : 60px;
}

.header {
  background-color : #231F20;
  height : 60px;
  margin : 0;
  top : 0px;
  position : fixed;
  left: 0px;
  right: 0px;
}

.logo {
  padding-top : 15px;
  height: 35px;
  margin-right : 65px;
}

a {
  color : white;
  margin-right : 20px;
  text-decoration: none;
}

.category {
  margin-bottom : 10px;
  display : inline;
}

.category:hover {
  color : black;
}

.mainP {
  position: relative;
}

.mainPicture {
  margin-top : 70px;
  height : 300px;
  width :1280px;

}

h2 {
  color : #68686A;
}

.footer-page {
  background-color : #231f20;
  color : white;
}

.sub {
  display: inline;  
}

.sub-t {
  background-color : #DDDED9;
  height : 50px;
  width : 330px;
  border : none;
  color: #000;
  font-size : 20px;
  padding: 0;
  margin-right: -5px;
}

.sub-b {
  background-color : #BD970D;
  border : none;
  height : 50px;
  width : 185px;
  padding: 0;
  margin: 0;
}

.links {
  height : 550px;
}

.join-us {
  height : 100px;
  background-color : #707070;
}


.copyright {
  height : 20px;
}

footer {
  padding: 0px;
  margin : 0px;
  bottom : 0px;
  left: 0px;
  right: 0px;
}

.search-b {
  background-color : #231F20;
  border: none;
}

.search-t {
  background-color : #231F20;
  color : #ffffff;
  height : 40px;
  border : none;
}

.nav-btn1 {
  position: absolute;
  top : 350px;
  left : 755px;
}

.nav-btn2 {
  position: absolute;
  top : 350px;
  left : 775px;
}

.nav-btn3 {
  position: absolute;
  top : 350px;
  left : 795px;
}

.nav-btn4 {
  position: absolute;
  top : 350px;
  left : 815px;
}

.nav-btn {
  background-color: #234C5D;
  border: none;
  border-radius : 100px;
  width : 10px;
  height : 10px;
}

.nav-btn:hover {
  background-color : yellow;
}

h2:hover {
  color : lightblue;
}

.more {
  color: #1C72C9;
  margin-bottom : 10px;
  margin-left : 100px;
}


.platform {
  padding-top: 20px;
  height: 40px;
}

ul {
  list-style-type: none;
}

ul li{
  display: inline;
}

ul li p {
  display: inline;
}

.follow-us {
  font-size: 40px;
}